# How to use the python-MongoDB SDK pymongo

In [18]:
import pymongo 
import pandas as pd

First create the client with a connection to your local MongoDB

In [2]:
mongo_conn_str ="mongodb://my-user:my-password@mongodb:27017/?authSource=admin"
client = pymongo.MongoClient(mongo_conn_str)

## Reading data from Mongo
MongoDB is not at relationel database - it is a document database, which means that it stores data as JSON-like documents. The documents are gathered together in what is called collections.

A **document** is similar to rows in a relationel database, except that documents can contain embedded subdocuments. \
A **collection** is similar to tables in relational databases. \
A **database** is similar to datamases is in relational databases. It contains one or more collections of documents

#### List Databases

In [9]:
client.list_database_names()

['admin', 'config', 'local', 'sample_mflix']

#### List collections in a database

In [15]:
db = client['sample_mflix'] # chose database from above - here we take 'sample_mflix'
db.list_collection_names()

['users', 'movies', 'sessions', 'theaters', 'comments']

#### Reading data from collection

In [26]:
collection =  db['comments'] # Choose collection name from the listed collections above

Show a single document in a collection

In [27]:
collection.find_one({})

{'_id': ObjectId('61a6796c54cf2414cc7fbdc4'),
 'options': {},
 'indexes': [{'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'sample_mflix.comments'}]}

Reading an entire collection into a pandas dataframe

In [24]:
cursor = collection.find({})
df = pd.DataFrame([document for document in cursor])

In [22]:
df.head()

,_id,options,indexes
0,61a6796c4965984ca1d088cc,{},"[{'v': 2, 'key': {'_id': 1}, 'name': '_id_', '..."